body {
  margin: 0;
}

#js-demo-term-width-range {
  width: 21ch;
}

#js-demo-heading-spacing {
  width: 10ch;
}

dl:has(input[name=layout]:checked) {
  background-color: field;
}

dl:has(input[name=layout]:checked) div {
  outline: 1px auto blue;
}

dl:has(input[name=layout]:checked) dt {
  outline: 1px auto red;
}

dl:has(input[name=layout]:checked) dd {
  outline: 1px auto green;
}

:root:has(input[type=checkbox][name=extra]:checked) [data-rfc] blockquote {
  margin-left: 2.8ch;
  border-left: 0.2ch solid currentcolor;
  padding-left: 0;
}

:root:has(input[type=checkbox][name=extra]:checked) [data-rfc] blockquote p {
  margin-left: 2ch;
  text-indent: unset;
}

:root:has(input[type=checkbox][name=extra]:checked) [data-rfc] blockquote p::before {
  content: unset;
}

:root:has(input[type=checkbox][name=extra]:checked) [data-rfc] pre {
  /* border-radius: 0.5ch; */
  --pre-padding: 1ch;
  background-color: field;
  display: inline-block;
  outline: 1px solid currentcolor;
  margin-top: calc(-1 * var(--pre-padding));
  margin-bottom: calc(-1 * var(--pre-padding));
  margin-left: calc(var(--rfc-content-indentation) * 2 - var(--pre-padding));
  margin-right: calc(-1 * var(--pre-padding));
  padding: var(--pre-padding);
}

@media not print {
  :root:has(input[type=checkbox][name=dark-mode]:checked) {
    color-scheme: dark;
  }
}

:root:has(input[type=checkbox][name=dark-mode]:checked) [data-rfc] nav {
  background-color: #222;
}

:root:has(input[type=checkbox][name=justify]:checked) {
  text-align: justify;
}
