/* document */

[data-rfc] {
  font-family: monospace;
  max-width: 72.05ch;
  font-size: 10pt;
  box-sizing: border-box;

  --rfc-content-indentation: 3ch;
  --rfc-term-width: 12ch;
  --rfc-heading-spacing: 1ch;
  --rfc-list-marker: "o  ";
  --rfc-line-height: 15px;

  line-height: var(--rfc-line-height);
}

@media screen and (max-width: 700px) {
  [data-rfc] {
    margin: 0 2ch;
  }

  nav[data-rfc-navigation] {
    padding-top: 1em;
    padding-left: 2ch;
    padding-right: 2ch;
    margin: 0 -2ch;
  }

  nav.rfc-index {
    min-width: unset;
  }
}

@media print {
  [data-rfc] {
    margin: 0;
  }

  a {
    color: currentcolor;
    text-decoration: none;
  }
}

/* heading styles */
[data-rfc] :is(h1, h2, h3, h4, h5, h6) {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;

  margin: var(--rfc-line-height) 0;
}

[data-rfc] h1 {
  text-align: center;
  white-space: pre;
}

[data-rfc] h6 {
  font-weight: normal;
}

/* common elements */
[data-rfc] :is(p, dl, pre, figure, section, aside, ul, ol, form) {
  margin: var(--rfc-line-height) 0;
  margin-left: var(--rfc-content-indentation);
}

[data-rfc] ol ol {
  margin: 0;
}

[data-rfc] a {
  white-space: nowrap;
}

[data-rfc] li > p {
  margin-left: 0;
}

[data-rfc] fieldset {
  padding: 1em 1ch;

  --bw: 2px;
  border-width: var(--bw);
  margin: calc(-1 * var(--bw));
  margin-bottom: calc(var(--rfc-line-height) - var(--bw));
}

[data-rfc] fieldset > legend {
  padding: 0 1ch;
  margin: 0;
}

[data-rfc] blockquote {
  margin: 0;
  padding-left: 2ch;
}

[data-rfc] blockquote p {
  text-indent: -2ch;
}

[data-rfc] blockquote p::before {
  content: "> ";
}

[data-rfc] pre {
  border-radius: 0.5ch;
  display: inline-block;

  --pre-padding: 1ch;
  padding: var(--pre-padding);
  margin-top: calc(-1 * var(--pre-padding));
  margin-bottom: calc(-1 * var(--pre-padding));
  margin-left: calc(var(--rfc-content-indentation) * 2 - var(--pre-padding));
  margin-right: calc(-1 * var(--pre-padding));
}

[data-rfc] pre code {
  white-space: pre-wrap;
}

[data-rfc] :is(ul, ol) {
  padding-left: var(--rfc-content-indentation);
}

[data-rfc] ul {
  list-style: var(--rfc-list-marker);
}

[data-rfc] ol li {
  padding-left: 1ch;
}

[data-rfc] ul li::marker {
  white-space: pre;
}

[data-rfc] hr {
  border: none;
  outline: 0.5px solid currentColor;
}

[data-rfc] select {
  height: var(--rfc-line-height);
  margin: 0;
  padding: 0;
  appearance: none;
  vertical-align: text-bottom;
  font-family: monospace;
  box-sizing: border-box;
  display: inline;
  border: none;
  white-space: pre-wrap;
  outline: 1px solid gray;
  margin-right: -0.01ch;
  border-radius: 1px;
}

[data-rfc] input {
  height: var(--rfc-line-height);
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  font-family: monospace;
  box-sizing: border-box;
}

[data-rfc] input[type=button] {
  padding: 0;
  vertical-align: bottom;
  border: none;
  border-radius: 3px;
  outline: 1px solid #999;
}

[data-rfc] input[type=checkbox] {
  width: 1ch;
}

[data-rfc] input[type=range] {
  width: 15ch;
}

[data-rfc] input[type=text] {
  height: var(--rfc-line-height);
  border: none;
  margin-top: -4px;
  margin-left: -1px;
  outline: 1px solid darkgray;
}

[data-rfc] span[data-rfc-double-space] {
  margin-right: 1ch;
}

[data-rfc] address {
  font-style: normal;
}

/* heading counter */
[data-rfc] h1 {
  counter-reset: rfc-h2 rfc-h3 rfc-h4 rfc-h5 rfc-h6;
}

[data-rfc] h2 {
  counter-increment: rfc-h2;
  counter-reset: rfc-h3 rfc-h4 rfc-h5 rfc-h6;
}

[data-rfc] h3 {
  counter-increment: rfc-h3;
  counter-reset: rfc-h4 rfc-h5 rfc-h6;
}

[data-rfc] h4 {
  counter-increment: rfc-h4;
  counter-reset: rfc-h5 rfc-h6;
}

[data-rfc] h5 {
  counter-increment: rfc-h5;
  counter-reset: rfc-h6;
}

[data-rfc] h6 {
  counter-increment: rfc-h6;
}

:is(
    [data-rfc] [data-rfc-heading=counter] h2,
    [data-rfc] h2[data-rfc-heading=counter],
    [data-rfc][data-rfc-heading=counter] h2
  )::before {
  content: counter(rfc-h2) ". ";
  display: inline-block;
}

:is(
    [data-rfc] [data-rfc-heading=counter] h3,
    [data-rfc] h3[data-rfc-heading=counter],
    [data-rfc][data-rfc-heading=counter] h3
  )::before {
  content: counter(rfc-h2) "." counter(rfc-h3) ". ";
  display: inline-block;
}

:is(
    [data-rfc] [data-rfc-heading=counter] h4,
    [data-rfc] h4[data-rfc-heading=counter],
    [data-rfc][data-rfc-heading=counter] h4
  )::before {
  content: counter(rfc-h2) "." counter(rfc-h3) "." counter(rfc-h4) ". ";
  display: inline-block;
}

:is(
    [data-rfc] [data-rfc-heading=counter] h5,
    [data-rfc] h5[data-rfc-heading=counter],
    [data-rfc][data-rfc-heading=counter] h5
  )::before {
  content: counter(rfc-h2) "." counter(rfc-h3) "." counter(rfc-h4) "."
    counter(rfc-h5) ". ";
  display: inline-block;
}

:is(
    [data-rfc] [data-rfc-heading=counter] h6,
    [data-rfc] h6[data-rfc-heading=counter],
    [data-rfc][data-rfc-heading=counter] h6
  )::before {
  content: counter(rfc-h2) "." counter(rfc-h3) "." counter(rfc-h4) "."
    counter(rfc-h5) "." counter(rfc-h6) ". ";
  display: inline-block;
}

[data-rfc] :is(h1, h2, h3, h4, h5, h6)::before {
  padding-right: var(--rfc-heading-spacing);
}

[data-rfc] :is(h1, h2, h3, h4, h5, h6)[data-rfc-heading=plain],
[data-rfc][data-rfc-heading=plain] :is(h1, h2, h3, h4, h5, h6),
[data-rfc] [data-rfc-heading=plain] :is(h1, h2, h3, h4, h5, h6) {
  font-weight: normal;
  counter-increment: unset;
  counter-reset: unset;
}

[data-rfc] :is(h1, h2, h3, h4, h5, h6)[data-rfc-heading=plain]::before {
  content: none;
}

/* description list */
[data-rfc] dl {
  overflow: hidden;
}

[data-rfc] dl > dt {
  float: left;
  margin-right: 1ch;
  clear: both;
}

[data-rfc] dl > dd {
  float: right;
  margin: 0;
  width: calc(100% - var(--rfc-term-width));
  padding-bottom: var(--rfc-line-height);
  clear: right;
}

[data-rfc] dl > dd:last-child {
  padding-bottom: 0;
}

[data-rfc] dl > dd:last-child:after {
  content: none;
}

[data-rfc] dl > dd::after {
  content: "\a";
  white-space: pre;
}

[data-rfc] dl > div {
  padding-left: var(--rfc-content-indentation);
  margin-bottom: var(--rfc-line-height);
}

[data-rfc] dl > div:last-child {
  margin-bottom: 0;
}

[data-rfc] dl > div > dt {
  display: inline;
  margin-left: calc(-1 * var(--rfc-content-indentation));
}

[data-rfc] dl > div > dt::after {
  content: ":";
  padding-right: 1ch;
}

[data-rfc] dl > div > dd {
  display: inline;
  margin: 0;
}

[data-rfc] dl > div > dd::after {
  content: "\a\a";
  white-space: pre;
}

[data-rfc] dl > div > dd:last-of-type:after {
  content: none;
  white-space: pre;
}

/* navigation */
[data-rfc] nav[data-rfc-navigation] {
  text-align: right;
  background-color: #eee;
  padding-bottom: var(--rfc-line-height);
}

[data-rfc] nav[data-rfc-navigation] ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1em 1ch;
  padding-left: 0;
  margin: 0;
  margin-bottom: var(--rfc-line-height);
  height: var(--rfc-line-height);
  text-align: left;
}

[data-rfc] nav[data-rfc-navigation] ul li {
  margin-bottom: 0;
}

[data-rfc] nav[data-rfc-navigation] ul li::marker {
  content: unset;
}

[data-rfc] nav[data-rfc-navigation] ul li::before {
  content: '[';
}

[data-rfc] nav[data-rfc-navigation] ul li::after {
  content: ']';
}

/* do not show when printing */
@media print {
  [data-rfc] nav[data-rfc-navigation] {
    display: none;
  }
}

/* images */
[data-rfc] img {
  max-width: 100%;
  height: auto;
}

[data-rfc] figcaption {
  margin: 15px;
  text-align: center;
  margin-left: var(--rfc-content-indentation);
}

[data-rfc] figcaption > p {
  margin-left: 0;
}

/* keep whitespace */
[data-rfc-ws] p {
  white-space: pre-wrap;
}

/* header */
[data-rfc] header[data-rfc-header] {
  max-width: 72ch;
}

[data-rfc] header[data-rfc-header] {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: calc(var(--rfc-line-height) * 2);
}

[data-rfc] header[data-rfc-header] ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

[data-rfc] header[data-rfc-header] ul:nth-of-type(2) {
  text-align: right;
  margin-left: 2ch;
  flex-shrink: 0;
  max-width: 50%;
}

[data-rfc] header[data-rfc-header] ul li {
  margin: 0;
}

[data-rfc] header[data-rfc-header] ul li::marker {
  content: unset;
}

[data-rfc] header[data-rfc-header] h1 {
  margin: 0;
  width: 100%;
}

/* tables */
[data-rfc] figure {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

[data-rfc] table {
  border-collapse: collapse;
  margin-left: var(--rfc-content-indentation);
  text-align: left;
  font-size: 1em;
}

[data-rfc] table caption {
  margin-top: 15px;
  caption-side: bottom;
}

[data-rfc] :is(td, th) {
  border: 0 solid #ccc;
  padding: 0 1ch;
  margin: 0 1ch;
}

[data-rfc] th {
  padding-bottom: var(--rfc-line-height);
  overflow: hidden;
  position: relative;
  vertical-align: bottom;
  font-weight: normal;
}

[data-rfc] th::after {
  content: '------------------------------------------------------------------------';
  display: block;
  position: absolute;
  right: 1ch;
  left: 1ch;
  overflow: hidden;
}

/* table of content */
[data-rfc] nav[data-rfc-toc] ul {
  margin-left: var(--rfc-content-indentation);
}

[data-rfc] [data-rfc-toc]:empty {
  display: none;
}

[data-rfc] [data-rfc-toc] ol {
  list-style: none;
  list-style-position: unset;
  margin-left: 0;
  padding-left: 2ch;
}

[data-rfc] [data-rfc-toc] li {
  padding: 0;
  padding-right: 1ch;
}

[data-rfc] [data-rfc-toc] :is(a, span) {
  padding-right: var(--rfc-heading-spacing);
}
